<div class="container-full">

  <div class="row p-3" style="height: 100vh;">

    <div class="col-xs-12 col-md-2 bg bg-secondary">
      <h3 class="text-white my-4">Atributos</h3>

      <div class="form-group text-center">
        <h3 class=" title text-white">Visible {{visible}}</h3>

        <label class="switch">
          <input id="visible" type="checkbox" ngModel="visible" (change)="Visibles(visible = !visible)">
          <span class="slider round"></span>
        </label>
      </div>

      <div class="form-group text-center">
        <h4 class=" title text-white">Cantidad de Personas <br> max 7</h4>
        <input class="form-control" [(ngModel)]="numPersonas" min="0" max="7" type="number" readonly>
      </div>


      <div class="form-group text-center">
        <h3 class=" title text-white">Peso Máximo <br> 600Kg</h3>

        <input name="ram" type="range" [(ngModel)]="ramMaxValue" min="0" max="600" readonly>

      </div>

      <div class="form-group text-center">

        <h3 class=" title text-white">Posición</h3>

        <div class="row p-2">
          <div class="col-xs-12 col-md-6">
            <h4 class=" title text-white">Arriba</h4>
            <input class="form-control" type="number" min="0" [(ngModel)]="arriba" readonly>
          </div>
          <div class="col-xs-12 col-md-6">
            <h4 class=" title text-white">Abajo</h4>
            <input class="form-control" [(ngModel)]="abajo" min="0" type="number" readonly>
          </div>
        </div>

      </div>





    </div>
    <div class="fondo col-xs-12 col-md-10 text-center" style="background: url('assets/img/pared.jpg');">
      <img *ngIf="visible===1" width="250" height="250" src="assets/img/ascensorabierto.jpg" alt="" id="ascensor">
      <img *ngIf="visible===0 || mant===0 " width="250" height="250" src="assets/img/ascensorcerrado.jpg" alt="" id="ascensor">
      <!-- <h3>{{visible}}</h3> -->
      <h3 *ngIf="visible && mant && ramMaxValue < 600">Peso de personas: {{ramMaxValue}} Kg</h3>
      <h3 *ngIf="ramMaxValue>600"> {{ramMaxValue}} Kg Muchas personas en el ascensor no puede arrancar</h3>
      <h3 *ngIf="visible===0 || mant===0">Lo sentimos el ascensor tiene fallas <br> <img src="assets/img/alarma.gif"
          alt=""></h3>
    </div>

  </div>


</div>

<router-outlet></router-outlet>